*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#324765;
    padding:5px;
}

.logo{
    display:flex;
    align-items:Center;
    color:#FF914D;
    cursor:pointer;
}

.menu-items > ul{
    display:flex;
    gap:15px;
    list-style:none;
    color:white;
    font-size:20px;
}

.menu-items > ul > li{
    cursor:pointer;
}

.icon-img,.logo-img{
    margin:0px 10px;
    width:50px;
    height:50px;
    border-radius:50%;
}

.icon-img{
    width:40px;
    height:40px;
}

.hero{
    margin-top:20px;
    display:flex;
    align-items:Center;
    justify-content:center;
    flex-direction:column;
    gap:20px;
}

.search > input{
    width:420px;
    height:40px;
    border:none;
    background:grey;
    border-radius:16px;
    font-size:20px;
}

.card{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:5px;
    background:#f0f0f0;
    padding:10px;
    cursor:pointer;
    border-radius:5px;
}

.rating{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:3px;
}

.card > h3{
   color:#454545;
}

.card-img{
    width:200px;
    border-radius:4px;
}

.card-rating{
    width:15px;
}

.card-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
}
